
.bgcontainer{
  
  background-image: url('form.jpg');
  background-size: cover;
  
}
h1{
  color: rgb(0, 0, 0);
  
 margin-left: 45%;
}
h3{
  color: rgb(19, 0, 124);
  padding: 15PX;
 margin-left: 40%;
}

 
 .NE{

 
  margin-left: 40%;
  display: block;
  margin-bottom: 35px;
  size: 2cm;
 }

 .radio1{
  margin-left: 40%;
  display: block;
  margin-bottom: 33px;
 }
 .radio2{
  margin-left: 40%;
  display: block;
  margin-bottom: 50px;
 }
 
  .Department{
    
    margin-left: 40%;
    display: block;
    margin-bottom: 35px; 
  }
  .phone{
    margin-left: 40%;
    display: block;
    margin-bottom: 35px; 
  }
  button{
    background-color: deeppink;
    text-align: center;
    margin-left: 45%;
  }
  input[type="submit"] {
    margin-top: 20px;

  }
  